@page "/demo13/eg-staticserverside"

<PageTitle>Static ServerSide Render (SSR) Mode</PageTitle>

<h3>Example: Static ServerSide Render (SSR) Mode</h3>
<p>also sometimes referred to as <b>ServerSide Mode</b></p>

<h4>This is the DEFAULT mode in Blazor WebApp Template</h4>

<p class="text-danger">
    Current Render Mode in Page: @RendererInfo.Name
</p>

<DemoComponent />

