@page "/demo01/eg-component-with-parameter"

<h3>Example of Component With Parameter</h3>

<ComponentWithParameter Message2="Hello World from Razor Page!" />

<ComponentWithParameter Message1="Hello from Razor Page"  
                        Message2="Hello from Razor Page" />