@using BlazorWebApp1.Components.Demo
@using BlazorWebApp1.Client.MyClient

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MyComponent></MyComponent>

<p>something</p>

<MyComponent></MyComponent>
<MyComponent></MyComponent>

<MyClientComponent></MyClientComponent>

<MyClientPage></MyClientPage>
