@page "/demo02/querystringparameters"

@using Microsoft.AspNetCore.WebUtilities

@rendermode InteractiveServer

@inject NavigationManager _navigationManager

<h3>Example of QueryString Parameter</h3>

<p>Add the Nuget Library: <b>Microsoft.AspNetCore.WebUtilities</b> for QueryHelper</p>

@if(queryStringItems is null || queryStringItems.Count() < 1)
{
    <p>No QueryString Values were received.</p>
}
else
{
    <p><b>List of Items in QueryString:</b></p>
    @foreach (var item in queryStringItems)
    {
        <p><b>@item.Key</b> : @item.Value</p>
    }
}

<p><b>Extracted QueryString parameter:</b></p>
<p>
    Name: @Name
</p>

<p>
    <button class="btn btn-primary" @onclick="OnClickHandler">
        Click to test QueryString by Code
    </button>
</p>
<p>
    <NavLink class="btn btn-secondary"
       data-enhance-nav="false"
       href="/demo02/querystringparameters?title=NavLink+Demon&IsEnabled=false">
        Click to test QueryString by NavLink
    </NavLink>

</p>
<p>
    <a class="btn btn-secondary"
       data-enhance-nav="false"
       href="/demo02/querystringparameters?title=Manoj%27s+Demonstration&IsEnabled=false">
       Click to test QueryString by Link
    </a>
    <br />
    <i>To see how QueryString is URL Encoded, TRY IT YOURSELF at:
        <a href="https://www.w3schools.com/html/html_urlencode.asp" target="_blank">
            https://www.w3schools.com/html/html_urlencode.asp
        </a>
    </i>
</p>


@code {

    private string? Name { get; set; }
    private Dictionary<string, Microsoft.Extensions.Primitives.StringValues>? queryStringItems { get; set; }

    protected override Task OnInitializedAsync()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        queryStringItems = QueryHelpers.ParseQuery(uri.Query);
        if (queryStringItems.TryGetValue("name", out var name))
        {
            Name = name;
        }

        return base.OnInitializedAsync();
    }


    private void OnClickHandler()
    {
        // check out what happens if forceLoad is set to false (default)
        // NOTE: forceLoad=true disables "enhanced navigation" (a.k.a. client-side routing)
        //       forceLoad=false enables "enhanced navigation"
        _navigationManager.NavigateTo(
            "/demo02/querystringparameters?name=Manoj+Kumar+Sharam&age=27&IsAllowed=true", 
            forceLoad: true);
    }

}
