<h3>Section Component</h3>

<Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="MySectionContent">
    <div class="alert alert-warning m-2">
        This is the content of the section (ONLY rendered in the Layout page!) originating from a Component.
    </div>
</Microsoft.AspNetCore.Components.Sections.SectionContent>

@code {

}
