<h5>Demo of Component with Parameter</h5>

@if (!string.IsNullOrEmpty(Message1))
{
    <p>Message #1: @Message1</p>
}

<p>Message #2: @( Message2.ToUpper() )</p>

@code {

    // NOTE: The [Parameter] attribute can be applied ONLY to Property signatures (not fields).

    [Parameter]
    public string Message1 { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Message2 { get; set; } = string.Empty;

}

