
<div class="alert alert-primary p-5 m-5">
    <h4>Component 2</h4>

    <p>Counter at Component Level:<b>@Something</b></p>
</div>

@code {

    [CascadingParameter]
    int? Something { get; set; }

}
