<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Dynamic Components</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo14/eg01-DynamicComponent"
                 style="margin-left: 0; text-decoration: none;">
            01 Simple Example with Dynamic Component
        </NavLink>
        <NavLink class="dropdown-item" href="/demo14/eg02-AddSkillComponent"
                 style="margin-left: 0; text-decoration: none;">
            02 Add Skill Example
        </NavLink>
        <NavLink class="dropdown-item" href="/demo14/eg03-DynamicSkillComponent"
                 style="margin-left: 0; text-decoration: none;">
            03 Add Skill Example with Dynamic Component
        </NavLink>

        <div class="dropdown-divider"></div>
        
        <NavLink class="dropdown-item" href="/demo14/eg04-AdvancedDynamicComponent"
                 style="margin-left: 0; text-decoration: none;">
            04 Advanced Dynamic Component
        </NavLink>
        <NavLink class="dropdown-item" href="/demo14/eg05-AdvancedDynamicComponentWithParams"
                 style="margin-left: 0; text-decoration: none;">
            05 Advanced Dynamic Component with Parameters 
        </NavLink>
        <NavLink class="dropdown-item" href="/demo14/eg06-AdvancedDynamicComponentWithEventCallback"
                 style="margin-left: 0; text-decoration: none;">
            06 Advanced Dynamic Component with EventCallback
        </NavLink>
    </div>
</div>
