<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">State Management</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo15/demo-statechange1"
                 style="margin-left: 0; text-decoration: none;">
            01 StateHasChanged Example 1
        </NavLink>
        <NavLink class="dropdown-item" href="/demo15/demo-statechange2"
                 style="margin-left: 0; text-decoration: none;">
            02 StateHasChanged Example 2
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo15/demo-ProtectedSessionStore"
                 style="margin-left: 0; text-decoration: none;">
            03 ProtectedSessionStore
        </NavLink>
    </div>
</div>
