<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
                data-bs-toggle="dropdown"
                style="text-decoration: none;">Binding</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="demo03/eg-oneway-binding"
                    style="margin-left: 0; text-decoration: none;">
            One-way Binding
        </NavLink>
        <NavLink class="dropdown-item" href="demo03/eg-twoway-binding"
                 style="margin-left: 0; text-decoration: none;">
            Two-way Binding
        </NavLink>
    </div>
</div>