<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Component Lifecycle</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo10/demo-oninitialized"
                 style="margin-left: 0; text-decoration: none;">
            01 OnInitialized
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo10/demo-onparameterset-eg1"
                 style="margin-left: 0; text-decoration: none;">
            02 OnParameterSet (using Parameter at Component)
        </NavLink>
        <NavLink class="dropdown-item" href="/demo10/demo-onparameterset-eg2"
                 style="margin-left: 0; text-decoration: none;">
            03 OnParameterSet (using SupplyParameterFromQuery in Page)
        </NavLink>
        <NavLink class="dropdown-item" href="/demo10/demo-onparameterset-eg3"
                 style="margin-left: 0; text-decoration: none;">
            04 OnParameterSet (using CascadingParameter in Component)
        </NavLink>
        <NavLink class="dropdown-item" href="/demo10/demo-onparameterset-eg3/-340"
                 style="margin-left: 0; text-decoration: none;">
            05 OnParameterSet (using RouteParameter in Page)
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo10/demo-onafterrender"
                 style="margin-left: 0; text-decoration: none;">
            06 OnAfterRender
        </NavLink>

        <NavLink class="dropdown-item" href="/demo10/demo-dispose"
                 style="margin-left: 0; text-decoration: none;">
            07 Dispose
        </NavLink>

    </div>
</div>
