@* 
    Check out the Added PAGES folder under the Project Root folder for the Razor Page demos 
*@
<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">ASP.NET Razor Demos</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/Demo17Eg01RazorPageDemo"
                 style="margin-left: 0; text-decoration: none;">
            01 Simple Razor Page 
        </NavLink>
        <NavLink class="dropdown-item" href="/Demo17Eg02RazorPageWithComponent"
                 style="margin-left: 0; text-decoration: none;">
            02 Razor Page with Component
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="demo01/eg-section-content"
                 style="margin-left: 0; text-decoration: none;">
            03 SectionContent and SectionOutlet<br />
            ( "Component with Section Content" example #03 from Demo01 )
        </NavLink>
    </div>
</div>
