@*
    Check out this short ~20 minute video by Ganesh to get a deeper understanding on Render Modes:<br /> 
    <a href="https://www.youtube.com/watch?v=hpjbc4vhF0A" target="_blank">Render Modes</a>
*@

<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Render Modes</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo13/eg-staticserverside"
                 style="margin-left: 0; text-decoration: none;">
            01 Static Server Mode (SSR)
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="demo13/eg-interactiveserver"
                 style="margin-left: 0; text-decoration: none;">
            02 Interactive-SSR
        </NavLink>
        <NavLink class="dropdown-item" href="/demo13/eg-interactiveservercomponent"
                 style="margin-left: 0; text-decoration: none;">
            03 Component with Interactive-SSR
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo13/eg-interactivewasm"
                 style="margin-left: 0; text-decoration: none;">
            04 Interactive WebAssembly in CLIENT PROJECT
        </NavLink>
        <NavLink class="dropdown-item" href="/demo13/eg-interactivewasmcomponent"
                 style="margin-left: 0; text-decoration: none;">
            05 Interactive WebAssembly Component in BLAZOR WEB APP PROJECT
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo13/eg-InteractiveAutoClient"
                 style="margin-left: 0; text-decoration: none;">
            06 InteractiveAuto in CLIENT PROJECT
        </NavLink>
        <NavLink class="dropdown-item" href="/demo13/eg-InteractiveAuto"
                 style="margin-left: 0; text-decoration: none;">
            07 InteractiveAuto in BLAZOR WEB APP PROJECT
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo13/eg-Streaming"
                 style="margin-left: 0; text-decoration: none;">
            08 Streaming Render Mode
        </NavLink>
 
    </div>
</div>
