<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
                data-bs-toggle="dropdown"
                style="text-decoration: none;">Navigation</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo06/demo-form-data-enhance"
                 style="margin-left: 0; text-decoration: none;">
            FORM "data-enhance" demo
        </NavLink>
        <NavLink class="dropdown-item" href="/demo06/demo-navigation"
                 style="margin-left: 0; text-decoration: none;">
            Navigation Manager Concepts
        </NavLink>
        <NavLink class="dropdown-item" href="/demo06/demo-navigationlock"
                 style="margin-left: 0; text-decoration: none;">
            Navigation Lock demo
        </NavLink>
        <NavLink class="dropdown-item" href="/demo06/demo-form-enahanced-navigation"
                 style="margin-left: 0; text-decoration: none;">
            FORM enhanced navigation
        </NavLink>

        @* Check out MainLayout.razor for understanding this example *@
        <NavLink class="dropdown-item" href="/demo06/demo-data-permanent"
                 style="margin-left: 0; text-decoration: none;">
            Data Permanent Attribute
        </NavLink>
    </div>
</div>
