<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">QuickGrid Demos</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo12/quickgrid"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid
        </NavLink>
        <NavLink class="dropdown-item" href="/demo12/quickgrid-sortable"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid Sortable
        </NavLink>
        <NavLink class="dropdown-item" href="/demo12/quickgrid-filterable"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid Filterable
        </NavLink>
        <NavLink class="dropdown-item" href="/demo12/quickgrid-styled"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid Styled
        </NavLink>
        <NavLink class="dropdown-item" href="/demo12/quickgrid-paginated"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid Paginated
        </NavLink>
        <NavLink class="dropdown-item" href="/demo12/quickgrid-paginated-pagesize"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid with PageSize
        </NavLink>
        <NavLink class="dropdown-item" href="/demo12/quickgrid-virtualize"
                 style="margin-left: 0; text-decoration: none;">
            QuickGrid with Virtualization
        </NavLink>
    </div>
</div>
