<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
                data-bs-toggle="dropdown"
                style="text-decoration: none;">Route Parameters</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo05/demo-route-parameter"
                    style="margin-left: 0; text-decoration: none;">
            Route Parameter
        </NavLink>
        <NavLink class="dropdown-item" href="/demo05/demo-route-parameter/5"
                 style="margin-left: 0; text-decoration: none;">
            Route Parameter with 5
        </NavLink>
        <NavLink class="dropdown-item" href="/demo05/demo-route-parameter/-340"
                 style="margin-left: 0; text-decoration: none;">
            Route Parameter with -340
        </NavLink>
    </div>
</div>
