<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">EditForm Demos</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo07/editForm"
                 style="margin-left: 0; text-decoration: none;">
            EditForm
        </NavLink>
        <NavLink class="dropdown-item" href="/demo07/editFormWithContext"
                 style="margin-left: 0; text-decoration: none;">
            EditForm with EditContext
        </NavLink>
    </div>
</div>
