<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Handling Interactions</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo11/demo-eventbinding"
                 style="margin-left: 0; text-decoration: none;">
            01 Event Binding
        </NavLink>
        <NavLink class="dropdown-item" href="/demo11/demo-autocomplete"
                 style="margin-left: 0; text-decoration: none;">
            02 AutoComplete Demo (in Client App)
        </NavLink>
    </div>
</div>
