<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Components Demo</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="demo01/eg-simple-component"
                 style="margin-left: 0; text-decoration: none;">
            Simple Component
        </NavLink>
        <NavLink class="dropdown-item" href="demo01/eg-component-with-parameter"
                 style="margin-left: 0; text-decoration: none;">
            Component with Parameters
        </NavLink>
        <NavLink class="dropdown-item" href="demo01/eg-section-content"
                 style="margin-left: 0; text-decoration: none;">
            Component with Section Content
        </NavLink>
        <NavLink class="dropdown-item" href="demo01/eg-component-with-fragment"
                 style="margin-left: 0; text-decoration: none;">
            Component with RenderFragment
        </NavLink>
    </div>
</div>
