<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Miscellaneous Concepts</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo04/eg-iconfig"
                 style="margin-left: 0; text-decoration: none;">
            IConfiguration
        </NavLink>
        <NavLink class="dropdown-item" href="/demo04/eg-options"
                 style="margin-left: 0; text-decoration: none;">
            Options Pattern
        </NavLink>

        <div class="dropdown-divider"></div>

        @* 
            Refer to the following for understanding the following two examples:
                Program.cs
                Routes.razor 
                ErrorPages\Error404Page.razor
        *@
        <NavLink class="dropdown-item" href="/manoj"
                 style="margin-left: 0; text-decoration: none;">
            Middleware for Routing
        </NavLink>
        <NavLink class="dropdown-item" href="/manojsharma" data-enhance-nav="false"
                 style="margin-left: 0; text-decoration: none;">
            Middleware for Routing
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo04/eg-api"
                 style="margin-left: 0; text-decoration: none;">
            Calling an external API
        </NavLink>

    </div>
</div>
