<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Parameters and Events</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo02/CascadingValue1"
                 style="margin-left: 0; text-decoration: none;">
            Eg01 CascadingValue by Type
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue2"
                 style="margin-left: 0; text-decoration: none;">
            Eg02 CascadingValue by Type
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue3"
                 style="margin-left: 0; text-decoration: none;">
            Eg03 CascadingValue by Type
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue4"
                 style="margin-left: 0; text-decoration: none;">
            Eg04 CascadingValue by Name
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue5"
                 style="margin-left: 0; text-decoration: none;">
            Eg05 CascadingValue with StateChanged
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue6"
                 style="margin-left: 0; text-decoration: none;">
            Eg06 CascadingValue shared with components
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue7"
                 style="margin-left: 0; text-decoration: none;">
            Eg07 Component with Event
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/CascadingValue8"
                 style="margin-left: 0; text-decoration: none;">
            Eg08 Component with Complex Types
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo02/querystringparameters"
                 style="margin-left: 0; text-decoration: none;">
            Eg09 QueryString Parameters
        </NavLink>
        <NavLink class="dropdown-item" href="/demo02/querystringparameters-byattribute"
                 style="margin-left: 0; text-decoration: none;">
            Eg10 QueryString Parameter Attribute
        </NavLink>
    </div>
</div>
