<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
                data-bs-toggle="dropdown"
                style="text-decoration: none;">JS Interop</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo07/demo-jsInterop"
                    style="margin-left: 0; text-decoration: none;">
            01 JavaScript Interop example
        </NavLink>

        <div class="dropdown-divider"></div>

        <NavLink class="dropdown-item" href="/demo07/demo-jsModule-RAW"
                 style="margin-left: 0; text-decoration: none;">
            JavaScript Module RAW EXAMPLE
        </NavLink>

        <NavLink class="dropdown-item" href="/demo07/demo-jsModule"
                 style="margin-left: 0; text-decoration: none;">
            02 JavaScript Module example
        </NavLink>
    </div>
</div>
