<div class="nav-item dropdown">
    <NavLink class="nav-link dropdown-toggle" href="#"
             data-bs-toggle="dropdown"
             style="text-decoration: none;">Error Handling Concepts</NavLink>
    <div class="dropdown-menu">
        <NavLink class="dropdown-item" href="/demo09/throw-error"
                 style="margin-left: 0; text-decoration: none;">
            01 Throw Error
        </NavLink>
        <NavLink class="dropdown-item" href="/demo09/throw-error-solved"
                 style="margin-left: 0; text-decoration: none;">
            02 Throw Error Solved
        </NavLink>
        <NavLink class="dropdown-item" href="/demo09/throw-error-resolved"
                 style="margin-left: 0; text-decoration: none;">
            03 Throw Error Resolved
        </NavLink>
        <NavLink class="dropdown-item" href="/demo09/error-boundary"
                 style="margin-left: 0; text-decoration: none;">
            04 Custom Error Boundary
        </NavLink>
    </div>
</div>
