@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <Demo01ComponentsMenuItems />

            <Demo02ParametersMenuItems />
            
            <Demo03BindingMenuItems />

            @* for understanding Routing Concepts and for Custom Middleware *@
            <Demo04MiscMenuItems />

            @* <Demo05RouteParameterMenuItems /> *@

            @* <Demo06NavigationMenuItems /> *@


            @* 
                This is for the "Data Permanent Demo" as part of the Demo06Navigation demos.
                NOTE: There is a SCRIPT block in the bottom of this MainLayout component referring to the "myDiv"
            *@
            @* <div id="myDiv" data-permanent="true"></div> *@

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@* This is for the "data-permanent" attribute demo, part of the Demo06NavigationDemos *@
@*
<script>
    let myDivContainer = document.getElementById('myDiv');
    if(myDivContainer !== null)
    {
        myDivContainer.innerHTML = "Hello World! updated by JavaScript";
    }
</script>
 *@