@page "/demo06/demo-data-permanent"

@rendermode InteractiveServer

<h3>Example of data-permanent="true" attribute</h3>

<p>Retains the contents of any element during Enhanced Navigation.</p>

<hr />

<p>
    In the <b>MainLayout.razor</b> page, I have added a DIV element with the id "myDIV", 
    which is populated by JavaScript.
</p>
<p>
    You will notice that when the application startsup, the DIV is populated with some text.
    Navigating from the home page, to any other page, the contents of the DIV element is lost.<br />
    But it can be retained, by using the <b>"data-permanent"</b> attribute.<br />
    <span class="fw-bold">The state of the DIV is retained in the Blazor Circuit during enhanced navigation!</span>
</p>
<p class="fst-italic">
    Observe, only the state of the DIV is retained.  The dynamically added CSS class, for example, is not retained!
</p>
