@page "/demo06/demo-data-permanent"

<h3>Example of "data-permanent" attribute</h3>

<p>Retains the contents of any element during Enhanced Navigation.</p>

<hr />

<p>
    In the <b>MainLayout.razor</b> page, I have added a DIV element with the id "myDIV", 
    which is populated by JavaScript.
</p>
<p>
    Navigating from one page to another, the contents of the DIV element would have been lost.
    But it can be retained, by using the "data-permanent" attribute.
</p>


