@page "/demo14/eg01-DynamicComponent"

@rendermode InteractiveServer

<h3>Example of Dynamic Component</h3>

<p>This demo shows how to load a Blazor Component Dynamically</p>

<hr />

<button class="btn btn-primary mb-3" @onclick="OnClick">
    Click to add Component to page
</button>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach(var item in ComponentIds)
    {
        <MyDynamicComponent ComponentId="@item" />
    }
</div>


@code {

    int counter = 1;
    List<string> ComponentIds = new();


    private void OnClick()
    {
        ComponentIds.Add( counter.ToString( "Component0000" ) );
        counter++;
    }
}
