<div class="col">
    <div class="card text-dark bg-light">
        <div class="card-header">Component added dynamically</div>
        <div class="card-body">
            <p class="card-text">Component ID: @ComponentId</p>
            <p>Some content of the card</p>
        </div>
    </div>
</div>


@code {

    [Parameter, EditorRequired]
    public string ComponentId { get; set; } = string.Empty;

}

