@page "/Error/404"

@inject NavigationManager _navigationManager



<h3>Status 404 Page</h3>

<p class="text-danger-emphasis">This is a customized HTTP 404 "Not Found" page in the blazor application.</p>
