@page "/demo10/demo-dispose"

@implements IDisposable

<h3>Demo of How to implement the Dispose method using Dispose Pattern.</h3>

<p class-"fw-bold">@statusMessage</p>

@code {

    private int counter = 0;
    private string statusMessage = "Initializing....";

    private System.Timers.Timer? timer;         // the aggregated object.

    protected override void OnInitialized ()
    {
        timer = new System.Timers.Timer( interval: 1000 );
        timer.Elapsed += OnTimerTick;
        timer.Start();

        statusMessage = "Started counter!";        
    }

    private void OnTimerTick ( object? sender, System.Timers.ElapsedEventArgs e )
    {
        // Perform actions on timer tick
        statusMessage = $"{++counter}";
    }


    #region IDisposable members implementing the Dispose Pattern

    private bool disposedValue;                 // flag to check if aggregated objects have been disposed


    protected virtual void Dispose(bool disposing)
    {
        if (!disposedValue)
        {
            if (disposing && timer is not null)
            {
                timer.Stop();
                timer.Dispose();
            }

            // TODO: free unmanaged resources (unmanaged objects) and override finalizer
            // TODO: set large fields to null

            disposedValue = true;
        }
    }

    // // TODO: override finalizer only if 'Dispose(bool disposing)' has code to free unmanaged resources
    // ~Eg07Dispose()
    // {
    //     // Put cleanup code in 'Dispose(bool disposing)' method ONLY.
    //     
    //     // Enforce that Dispose() is called at least once.
    //     Dispose(disposing: false);
    // }


    public void Dispose()
    {
        // Do not change this code. Put cleanup code in 'Dispose(bool disposing)' method
        Dispose(disposing: true);
    
        GC.SuppressFinalize(this);
    }

    #endregion

}
